SR03-SOAP/xsd.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="annuaire">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="categorie" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="annonce" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="annonceur" type="xs:string"/>
									<xs:attribute name="nom" type="xs:string"/>
									<xs:element name="adresse">
										<xs:complexType>
											<xs:attribute name="rue" type="xs:string"/>
											<xs:attribute name="ville" type="xs:string"/>
											<xs:attribute name="code_postal" type="xs:integer"/>
										</xs:complexType>
									</xs:element>
									<xs:attribute name="telephone" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="nom" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>